.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    margin-left: 20px;
}

.chat-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: auto;
}

.loader {
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.message-container {
    display: flex;
}

.message-container.user {
    justify-content: flex-end;
}

.message-container.assistant {
    justify-content: flex-start;
}

.message {
    padding: 0px 20px;
    border-radius: 5px;
    max-width: 80%;
}

.message.user {
    background-color: #000;
    color: #fff;
}

.message.assistant {
    background-color: #ccc;
    color: #000;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.input {
    width: 100%;
    margin-right: 10px;
    background-color: #f5f5f5;
    border: 4px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    color: #000;
}

.send-button {
    width: 10%;
    height: auto;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    color: #f5f5f5;
    cursor: pointer;
}